In [4]:
import pandas as pd
import datetime

In [5]:
df = pd.read_excel("historicaldata.xlsx")

In [6]:
df

     Unnamed: 0   startTime  openingPrice  closingPrice
0             0  1661313600       6432.00       6432.00
1             1  1661299200       6432.00       3000.00
2             2  1661284800       3000.00       6432.00
3             3  1661270400       4522.00       3000.00
4             4  1661256000        432.00       3000.00
..          ...         ...           ...           ...
156         156  1658808000      19999.99       1000.00
157         157  1658779200       1000.00      19999.99
158         158  1658764800      19999.99       1000.00
159         159  1658750400       1000.00       1000.00
160         160  1658736000      18000.00       1046.30

[161 rows x 4 columns]

In [7]:
print(datetime.datetime.fromtimestamp(df["startTime"][0]))
print(datetime.datetime.fromtimestamp(df["startTime"].iloc[-1]))

2022-08-24 00:00:00
2022-07-25 04:00:00

In [8]:
df1 = df.copy(deep=True)

In [9]:
# Display 1 month results of investing the same amount everyday at the same price
df1["startTime"] = df["startTime"].map(lambda time: datetime.datetime.fromtimestamp(time))
df1["startTime"][0].hour

0

In [10]:
df1["status"] = df1["startTime"].map(lambda x: "purchase" if x.hour == 12 else "")

In [11]:
# currPrice = df["openingPrice"].iloc[-1]
currPrice = 6000
currPrice

6000

In [12]:
# purchases = df1.loc[df1.status == "purchase"]
# purchases.drop("Unnamed: 0", axis=1, inplace=True)
# purchases.reset_index(inplace=True, drop=True)
# purchases

In [13]:
purchases = pd.DataFrame([{"averagePrice": 1000}, {"averagePrice": 2000}, {"averagePrice": 3000}])

In [14]:
def getGrowth(row):

    # averagePrice = (row["openingPrice"] + row["closingPrice"])/2
    averagePrice = row["averagePrice"]
    row["growth"] = (currPrice-averagePrice)*100/averagePrice

    return row

purchases = purchases.apply(getGrowth, axis="columns")

In [15]:
purchases

   averagePrice  growth
0        1000.0   500.0
1        2000.0   200.0
2        3000.0   100.0

In [16]:
purchases["growth"].mean()

266.6666666666667

In [17]:
from datetime import timedelta
import time

date = datetime.datetime.today()
date1 = date - datetime.timedelta(days=365)
date1 = datetime.datetime.timestamp(date1)
print(date)
print(int(date1))

2022-08-25 11:23:07.603068
1629904987

In [25]:
datetime.datetime.timestamp(datetime.timedelta(days=7))

TypeError: descriptor 'timestamp' for 'datetime.datetime' objects doesn't apply to a 'datetime.timedelta' object